@page
@model OdeToFoodNew.Pages.Restaurants.PageNotFoundModel
@{
}
<h2>Your restaurant was not found</h2>
<div>Click here to return!
    <a class="btn btn-primary btn-sm" asp-page="./List">
        <i class="glyphicon glyphicon-backward"></i>
    </a>
    </div>
